/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

@font-face {
  font-family: GothamBold;
  src: url(gothambold/Gotham-Bold.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(gothambook/Gotham-Book.otf);
}



/*DROPDOWN STYLING*/
      .dropbtn {
        background-color: navy;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-family: 'GothamBook', sans-serif;;
        margin-bottom: 10px;
      }

      .dropbtn:hover, .dropbtn:focus {
        background-color: #436cb5;
      }

      #myInput {
         width: 100%;
         font-size: 16px;
         padding: 14px 20px 12px 20px;
         border: none;
         border-bottom: 1px solid #ddd;
      }

      #myInput:focus {outline: 3px solid #ddd;}

      .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 20px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;

      }

      .dropdown-content p {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        margin: 5px 0px;
        /*height: 50vh;*/
      }

      .countydrop {
         height: 30vh;
         overflow: scroll;
         font-family: 'GothamBook', sans-serif;;
      }

      .dropdown p:hover {background-color: #ddd;}

      .show {display: block;}

/*END DROPDOWN STYLING*/





html {
   font-family: GothamBook, sans-serif;

}

body {
   overflow: hidden;
   margin: 0px;
   padding: 20px;
}

h1 {
   margin: 0px;
}

h3 {
   margin: 0px;
}

/*.main-container {
   max-width: 100%;
   font-family: GothamBook;
}*/

.title, .subtitle, .graph-title {
   font-family: GothamBold, sans-serif;
   color: white;
   padding: 10px 5px;
   margin: 0px;
}

.graph-title {
   color: black;
}

.title {
   background-color: navy;
}

.subtitle {
   background-color: dodgerblue;
}

.legend {
  font-family: GothamBold, sans-serif;
}

.iframe {
   width: 100%;
}

.iframe iframe {
   width: 100%;
   border: none;
   height: 400px;
}


.legend {
   margin-top: 20px;
}

.daily {
  color: dodgerblue;
}

.average {
  color: navy;
}


.plot {
   width: 72%;
   float: right;

}

   .plot img {
      width: 100%;
   }

.panel {
   width: 25%;
   float: right;
   text-align: left;
   margin-top: 50px;
   margin-right: 3%;
   font-size: 15px;
}

   .panel h3 {
      margin: 0px;
   }

.panel-title h3 {
   width: auto;
   background-color: navy;
   color: white;
   padding: 5px;
}  

.panel-number {
   font-family: GothamBold, sans-serif;
   font-size: 50px;
}

.panel-1 {
   padding-bottom: 20px;
}

.level4 h4 {
   font-family: GothamBook, sans-serif;
   padding: 0px;
   margin: 0px;
   font-style: italic;
   font-weight: normal;
   font-size: 12px;
}

@media only screen and (max-width: 745px) {
   .panel {
      font-size: 13px;
   }

   .panel-number {
      font-size: 45px;
   }
}

@media only screen and (max-width: 640px) {

   body {
      overflow: scroll;
   }
   
   .title {
   font-size: 20px;
  }
  
  .subtitle {
   font-size: 15px;
  }
  
   .panel {
      float: none;
      width: 95%;
      margin: auto;
      margin-top: 5px;
      padding: 5px;
      display: block;
   }

   .panel-1 {
      width: 96%;
      margin: 5px;
      padding-bottom: 0px;
   }

   .panel-2 {
      width: 50%;
      margin: 5px;
   }

   .plot {
      float: none;
      width: 100%;
   }
   
   #x {
     font-size: 35px;
   }
   
   .legend {
     font-size: 13px;
   }
   
  .level4 h4 {
     font-size: 10px;
   }
   


}








